# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
*.ipr 
# Mac
.DS_Store
 
# Maven
log/
target/

# Misc
bmp.log
chromedriver*
msedgedriver*
tfl.properties
taxi-rank.iml

# Sauce Labs
sauce-connect/
